button{
    margin-right: 20px;
}
div {
    
    text-align: center;
    margin-top: 17%;
    /* background-color: rgb(113, 232, 236); */
}
body{
    background-color: rgb(124, 240, 161);
}
button{
    padding: 5px;
    height: 30px;
    width: 100px;
    background-color: pink;
}